$font-size: 20px;
$button-bgc: green;


.hello-world-button {
	font-size: $font-size;
	padding: 7px 15px;
	background-color: $button-bgc;
	color: white;
	outline: none;
}

.hello-world-text {
	color: red;
	font-size: $font-size;
}